<a href="https://colab.research.google.com/github/uucee/AZ-103-MicrosoftAzureAdministrator/blob/master/pySparkPlayground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import udf, explode, col, regexp_replace
from pyspark.sql.types import IntegerType,StringType,ArrayType

spark = SparkSession.builder.appName('SparkPlayground').getOrCreate()

In [4]:
data = [
    (100, "Emp_name1"),
    (101, "Emp_name2"),
    (102, "Emp_name3"),
    (103, "Emp_name4"),
    (104, "Emp_name5")
]

In [5]:
columns = ["Emp_id", "Emp_name"]

In [6]:
df = spark.createDataFrame(data=data, schema=columns)

In [7]:
df.show()

+------+---------+
|Emp_id| Emp_name|
+------+---------+
|   100|Emp_name1|
|   101|Emp_name2|
|   102|Emp_name3|
|   103|Emp_name4|
|   104|Emp_name5|
+------+---------+

In [8]:
flightdata2015 = spark.read.csv("/mnt/2015-summary.csv", header=True, inferSchema=True)

In [10]:
flightdata2015.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [11]:
flightdata2015.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)